dist: trusty
sudo: false
language: java
jdk:
- oraclejdk8
branches:
  except:
  - /\+travis\d+$/
env:
  global:
  - MAVEN_BASE_URL=https://atomist.jfrog.io/atomist
  - secure: "F3Ui5/KYn5RkTBMz/UrudSzam+fkwrXaju2O9lbgz4kT6wOBjH/1qlhCDSxi/ZYX/0UXwSCTHq3qMHJJy75ahKUWgheMEj25oerI6DLdGTpzbNitIviM+fNSMLztUO8z4x2nYZ34XUIoTBwiY6m/GJqTAj9bbcssV4X4W9/1BDrXJFoTqHmTiJx1wTd5wjz/ieG55rUQOAQXzw981WsJAkJ3/UH/R8ifkQUFKCGaiIqjiJthIeI5qOZbqz6io5HbVMP28oflUmG7/jPQeGWg8qvrY/LFt0NVvb7ZzXcySz4ux4Pyg9qWQozfRQi4NG3HcC2VZgBvjyihkuUSDJaK8rAgczWTY35wMAuIf5h4GJNkmMcWjn6BjjHEpyGwF75wozXLORyoamLExTlXmc4AtoVB/jnrJsbk4eaQOC2gpZYxv/viqiOvpVsvAvkn/FvM984t6yqN/glox8K0FF9qAhiNeWjES8hhFs60LH8A4UFHqkb06XOvPOiSods+CmsHzfJyg+TT1bcWw35p2PmsnCslAAfMe8mxiHWTCOmtdl6mPf8CJMC1eqSORPHL3UUMR0YCOwIRHwvxqAn33fCkZGUz7JMLky29+fE/VwbOD6oUAlfLtJecW0w+uK3HQIn0eYEQRQA5lhihqIGOfu2LBvUZB8rQBn304uE3i9LHXmo="
  - secure: "ZB3xXA+YeVk3XNZhiAnQlH7NgKwTd7dOLldrO3kvb8CeS3HBnkSiq9hsJmnXT7OZFCqO8yp3LAwiMrHk1aHxbo2cVKOg2mIZCHghqgwTZv1NzmYeJciJgVHViDfLKWsLbgulTnNLq1BEFh2py7cRYIhtIKHo1XERj3g4C+fe6wEDpxy6grp477DUu/8mqTI+jEoZTkhROXkNBog4EFB4WICD41V7cDHqrWrX2EEursVyobT0AohOPnJpFigCdk2hiM7ElouGgGbLY4S8RFty+Fg0nGjhqap1t6DdAo/U003uDq5yOFemq644ZLFLs+a1ZB+7MGcJh4eV12UwbGYukWgEISwE/FsMyKgEwd4FSqYVu3Qfpikv/Zw2bfm1aIXiJJYQP+aVUFlEkni4pQyTo9maQ81mHElSl9CQHN6bgI7/B3NPtY5r4FCyp80yf4RQynx7cKxfDoYSQU9mldYQITvHV+bnksX+CvEiZDhz/5q5X7+pnfcjRPahGj3IQH1vRjL66rvWgsmelsp3kFHMUnFel7QUW7BFSSKEUMuXYH0t0GImGJnL9SDJ/CvQ3RztaNTa9xYJ2BdugJvP6qByy6qZGwXqIltE/rVmoSJfaDnEUw5pjHnJeG+mvo7gE3X+7Lju+B4p08OJ0FRPXYUuGfqCbInOpNfYQTmF1hJKAdI="
  - secure: "flNdN7NL84yXXdO74N5edwapThMJ/vDTB3+fg8D+6+Ek+W9Kd0YmA1UtH6wl6kRz/U2qLRf2StArnHo100BBCpOIKtFi9lrBm3UN8PIEWAUSpDLyBJXFDXWYdlQFZ3nReVF8wu1IDrzNiF1PH6P2nDgIQwdIwOlk1zN4jVTEVWlTnNCEgXqP1kXmh2kfI7cH0ObtS7ZEY1MP8eqzD+CVxSPo9gprvMndz61LjDxGHVgK3GjMz/VHt4ikIZbGBYLWntShBMuh85+N8b0gRXBcGEvvxvZRvFChPxcZbW00dCSgZ4dBERSZTD7Dhz9rtVbMSVpJvrlAFrkzyJxs1XuYfWvZ9eTAsiR1oOgLjYJAUbfTjJ0KNVQZDlNOyrsywWdp9urXcLXAAgJcCW6q1Yf8d6aFdCaWpd7XtzA3AiF+9qKf6JyMloNkRx6C2klfPkiXFXw5um+rMN6Xgr3EZI+R1xObw0dP8F70aB/J3Ur4v8yVXhLFeaGCOAIJS7xzjSpkQEelR0+SJLYbvZ2fvRrMwc3TIeeK3VRSrywzX8GgN2NAJ4g0HFeVybIhGEqPGKLwtgN9t9pkEwv4nV90Agza4IVtekRQNH4u8z7VjF7ig4EnEyxMW8mBzgxjb/NTpejmWugj34xGmhCo/Z3GSKJXM6M7mlDemUDdH5Lrqa9/11A="
install:
- nvm install 6.9.2
script: bash .atomist/build/travis-build.bash
notifications:
  email: false
  webhooks:
    urls:
    - https://webhook.atomist.com/travis
    on_success: always
    on_failure: always
    on_start: always
cache:
  directories:
  - $HOME/.atomist
